#to be ignore due to gradle
.gradle/
gradle/
build/
.classpath
.project
.settings/
bin/

#to be ignore project files
algs4.jar
algs4-data

# c++ files
.clangd/
compile_commands.json
.cache
include/
data/

#for rough work
shit

# for swp vim files
*.swp
